@import "../../variables";

.ServicesMain {
  width: 100%;
  margin: 5rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;

  > .Services {
    width: 75%;
    margin: 0 12.5%;

    @media screen and (max-width: 1200px) {
      width: 90%;
      margin: 0 5%;
    }

    > h2 {
      font-size: 4rem;
      text-align: center;
    }

    @media screen and (max-width: 1400px) {
      > h2 {
        font-size: 3rem;
      }
    }

    @media screen and (max-width: 900px) {
      h2 {
        font-size: 2.5rem;
      }
    }

    .ServiceWrapper {
      width: 100%;

      margin-top: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3rem;

      .Service {
        max-width: 370px;
        min-height: 400px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        padding: 2rem;
        border-radius: 1rem;

        background-color: rgba($darkGreen, 0.05);

        text-align: center;

        h3 {
          font-size: 2rem;
          font-weight: bold;
        }

        p {
          font-size: 1.3rem;
        }

        .ServiceIcon {
          width: 4rem;
          height: 4rem;

          color: $gold;
        }
      }
    }
  }
}
