@font-face {
  src: url("/fonts/BookAntiqua.ttf");
  font-family: bookAntiqua;
}

body,
html {
  margin: 0;
  padding: 0;

  font-family: bookAntiqua;
  color: #001b21;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
