@import "../../variables";

.Header {
  margin: 2% 12.5%;

  width: 75%;
  height: 60lvh;

  background-image: url("/pictures/splash.jpeg");
  background-position: center;
  background-size: cover;

  position: relative;

  overflow-y: hidden;

  border-radius: 1rem;

  > .OurTeam {
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    display: flex;
    gap: 2rem;

    .nav__active {
      color: $gold;
    }

    a {
      color: white;

      font-family: bookAntiqua;
      font-size: 1.5rem;

      text-decoration: none;
      text-align: center;

      transition: all 0.3s ease-in-out;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &::after {
        content: "";

        height: 0.1rem;
        width: 0%;

        background-color: $gold;

        transition: all 0.3s ease-in-out;
      }

      &:hover {
        color: $gold;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .OurTeam {
      > a {
        font-size: 1.4rem;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .OurTeam {
      > a {
        font-size: 1.2rem;
      }
    }
  }

  @media screen and (max-width: 600px) {
    height: 50lvh;

    .OurTeam {
      > a {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    margin: 0;

    border-radius: 0;
  }
}
