@import "../../variables";

.Footer {
  width: 75%;

  margin: 2% 12.5%;
  padding: 2rem;

  background-color: #001b21;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    flex-direction: column;

    text-align: center;

    gap: 2rem;
  }

  @media screen and (max-width: 1200px) {
    width: 90%;

    margin: 2% 5%;
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    margin: 0;

    border-radius: 0;
  }

  .Links {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    i {
      color: white;
    }

    > a {
      color: white;

      text-decoration: none;

      font-weight: bold;

      transition: all 0.3s ease-in-out;

      font-size: 1.5rem;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @media screen and (max-width: 1400px) {
        font-size: 1.1rem;
      }

      @media screen and (max-width: 900px) {
        font-size: 1rem;
      }

      &::after {
        content: "";

        height: 0.1rem;
        width: 0%;

        background-color: $gold;

        transition: all 0.3s ease-in-out;
      }

      &:hover {
        color: $gold;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .Socials {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 1rem;

      > a {
        color: white;
        > * {
          font-size: 1.5rem;
          color: white;

          padding: 0.5rem;

          border-radius: 999px;
          border: solid white 0.3rem;

          transition: all 0.3s ease-in-out;

          cursor: pointer;

          &:hover {
            color: $gold;

            border: solid $gold 0.3rem;
          }
        }
      }
    }
  }
}
